services:
  backend:
    env_file:
      - ./.env
      - ./.env.development  # Development overrides
    ports:
      - "8000:8000"

  frontend:
    env_file:
      - ./.env
      - ./.env.development  # Development overrides
