# basic software development tools
black
pip-tools
pre-commit

# main reqs
-r requirements.in

# maybe just for jupyter notebook?
ipykernel
aiohttp
async_timeout
nest_asyncio

# vis
networkx
matplotlib
pygraphviz
dash-cytoscape
