# SPDX-FileCopyrightText: 2025 CommonGraph contributors: https://github.com/comodelling/commongraph/CONTRIBUTORS.md
#
# SPDX-License-Identifier: AGPL-3.0-or-later
# basic software development tools
black>=26.3.1
pip-tools
pre-commit
pytest>=9.0.3
reuse

# security
filelock>=3.20.1
wheel>=0.46.2
