# SPDX-FileCopyrightText: 2025 CommonGraph contributors: https://github.com/comodelling/commongraph/CONTRIBUTORS.md
#
# SPDX-License-Identifier: AGPL-3.0-or-later
# basic software development tools
black
pip-tools
pre-commit
pytest
reuse

# security
filelock>=3.20.1
