
platform_name: CommonGraph-example
platform_tagline: This is an example tagline
platform_description: This is an example description which should support html formatting.
node_types:
  example_node_type:
    properties:
      - title
      - tags

edge_types:
  example_edge_type:
    properties:
      - description
      - references

polls:
  example_poll_type:
    type: discrete
    question: Is this a question?
    options:
    - 1: "Yes"
    - 2: "No"
    node_types: ["example_node_type"]
    edge_types: []

auth:
  allow_signup: true                    # master on/off
  signup_requires_admin_approval: true  # freshly created users start inactive

permissions: # all/loggedin/admin
  read: loggedin
  create: loggedin
  edit: all
  delete: all
  rate: all